.col-md-5 img {
    width: 100%;
}

.post-title {
    text-align: center;
}

.col-sm-3 {
    display: inline-block;
}

.btn-link,
.btn-outline-link {
    color: white !important;
    font-size: large !important;
}

.fa-bars, .fa-slash {
    color: white;
    font-size: large;
}

.fa-cookie {
    font-size: large;
}

.fa-stack {
    color: gray !important;
}

.btn-outline-link {
    color: #D18195 !important;
}

.card {
    background-color: #E3E2E2  !important;
}

.recipes,
.container {
    text-align: center;
}
