.img-thumbnail {
    padding: 0 !important;
    display: inline-block !important;
    border: 0 !important;
    width: 25% !important;
    margin: 10px !important;
}
.col-md-5 img {
    width: 65%;
}

.post-title {
    text-align: center;
}

.col-sm-3 {
    display: inline-block;
}

.btn-link,
.btn-outline-link {
    font-size: large !important;
}

.fa-bars, .fa-slash {
    color: white;
    font-size: large;
}

.fa-cookie {
    font-size: large;
}

.fa-stack {
    color: gray !important;
}

.btn-outline-link {
    color: #D18195 !important;
}

.input-group-text {
    background-color: #E3E2E2  !important;
    color: #D18195 !important;
}

.accordion-button {
    background-color: #D18195 !important;
    color: white  !important;
}

.card {
    background-color: #E3E2E2  !important;
}

.recipes,
.container {
    text-align: center;
}

label {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

#time,
#portions {
    display: inline-block !important;
}

.btn-sm {
    margin: 5px; 
    background-color: lightgray !important;
    color: #D18195 !important;
    float: right;
}
