<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/css/style.css" rel="stylesheet" type="text/css" />
    <title>Error</title>
</head>
<body>
    <div class="container-fluid callout-container">
        <div class="row">
          <div class="col-12">
            <section class="callout jumbotron text-center">
                <h2 class="jumbotron-header">Oops! Page not found.</h2>
                <h1 class="jumbotron-header">404</h1>
                <h2 class="jumbotron-header">We can't find website you're looking for.</h2>
                <br>
                <a href="{{ url_for('index') }}" class="link">Go back home!</a>
            </section>
          </div>
        </div>
    </div>
</body>
</html> 