{% extends "base.html" %}
{% block content %}

    <h2>New Recipe</h2>
    <br>

    <form method="POST" action="{{ url_for('add_recipe') }}">
        <div class="col-lg-8 col-md-10 mx-auto input-group flex-nowrap">
            <div class="input-group mb-3">
                <label class="input-group-text" for="category_name">Dessert Category</label>
                <select class="form-select validate" name="category_name" id="category_name" required>
                  <option selected>Choose Category</option>
                  {% for category in categories %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                  {% endfor %}
                </select>
            </div>
        </div>
        <br>
        <div class="col-lg-8 col-md-10 mx-auto input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Recipe Name</span>
            <input type="text" name="recipe_name" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
          </div>
        <br>
            <div class="input-group col-sm-4 mx-auto">
                <span class="input-group-text" id="due_time"><i class="fas fa-clock"></i></span>
                <input type="text" name="due_time" class="form-control" placeholder="Time" aria-label="time" aria-describedby="basic-addon1" required>
            </div>
        <br>
            <div class="input-group col-sm-4 mx-auto">
                <span class="input-group-text" id="recipe_makes_for"><i class="fas fa-chart-pie"></i></span>
                <input type="text" name="recipe_makes_for" class="form-control" placeholder="Portions" aria-label="portions" aria-describedby="basic-addon1" required>
            </div>
        <br>
        <div class="input-group col-lg-8 col-md-10 mx-auto">
            <span class="input-group-text">Ingredients</span>
            <textarea class="form-control" id="recipe_ingredients" aria-label="Ingredients" required></textarea>
        </div>
        <br>
        <div class="input-group col-lg-8 col-md-10 mx-auto">
            <span class="input-group-text">Description</span>
            <textarea class="form-control" id="recipe_description" minlenght="50" maxlenght="300" aria-label="Recipe description" required></textarea>
        </div>
        <br>
        <div class="input-group col-sm-4 mx-auto mb-3">
            <input type="file" class="form-control" name="image_source" id="image_source">
            <label class="input-group-text" for="image_source">Upload</label>
        </div> 
        <br>
        <div class="form-group">
            <button type="submit" class="btn btn-lg btn-success" id="submit" value="Submit"><i class="fas fa-plus-circle"></i> Add Recipe</button>
        </div>
    </form>

{% endblock %}