{% extends "base.html" %}
{% block content %}

    <h2>Add Recipe</h2>

    <form method="POST" action="{{ url_for('add_recipe') }}">
        <div class="col-md-6 input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
                <i class="fas fa-user-cog"></i>
                <label for="recipe_name">Recipe Name</label>
            </span>
            <input type="text" id="recipe_name" class="form-control validate" name="recipe_name" placeholder="recipe_name"  pattern="^[a-zA-Z0-9]{5,15}$" aria-label="recipe_name" aria-describedby="addon-wrapping" required>
        </div>
        <br>
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" name="time" placeholder="time" aria-label="time">
              <label for="time">Time of Preparation</label>
            </div>
            <div class="col">
              <input type="text" class="form-control" name="portions" placeholder="portions" aria-label="portions">
              <label for="portions">Portions</label>
            </div>
        </div>
        <br>
        <div class="mb-3">
            <label for="recipe_ingredients" class="form-label">Recipe Ingredients</label>
            <textarea class="form-control" id="recipe_ingredients" name="recipe_ingredients" minlength="50" maxlength="300"></textarea>
        </div>
        <br>
        <div class="mb-3">
            <label for="recipe_description" class="form-label">Recipe Description</label>
            <textarea class="form-control" id="recipe_description" name="recipe_description" minlength="50" maxlength="300"></textarea>
        </div>
    </form>

{% endblock %}