{% extends "base.html" %}
{% block content %}

    <h2>Meet the place for desserts lovers!</h2>
    <br>
    <p>Join our community and try the best desserts recipes! 
        Our platform is giving you a chance to practice and develop your culinary skills.
        Become the 'pastry chef' and surprised yourself, how pleasent and easy it can be.</p>
    <p><em>Just after you register, you will get access to the wide base of recipes. You can also share your own and
            meet the people, who shares your passion!</em></p>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3 mx-auto">
                <img src="static/img/birthday.png" class="img-thumbnail" target="_blank" alt="cake">
                <img src="static/img/cake.png" class="img-thumbnail" target="_blank" alt="cake">
                <img src="static/img/cupcake.png" class="img-thumbnail" target="_blank" alt="cake">       
            </div>
        </div>
    </div>
    <br>
    <h5>BON APPÉTIT</h5>
        
{% endblock %}
    