{% extends "base.html" %}
{% block content %}

<h2>Log In</h2>
    <div class="row">
    <!-- Log In Form -->
        <form method="POST" action="{{ url_for('login') }}">
        <!-- Username -->
            <div class="col-md-6 mx-auto input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">
                    <i class="fas fa-user-cog"></i>
                    <label for="username"></label>
                </span>
                <input type="text" class="form-control" name="username" placeholder="username" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" aria-label="username" aria-describedby="addon-wrapping" required>
            </div>
            <br>
        <!-- Password -->
            <div class="col-md-6 mx-auto input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">
                    <i class="fas fa-key"></i>
                    <label for="password"></label>
                </span>
                <input type="text" id="password" class="form-control validate" name="password" placeholder="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" aria-label="password" aria-describedby="addon-wrapping required">
            </div>
            <br>
        <!-- Log In Btn -->
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-success" id="submit" value="Submit">Log In<i class="fas fa-sign-in-alt"></i></button>
            </div>
        </form>
    </div>
  <!-- Redirecting Link to Register -->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                New Here? <a href="{{ url_for('register') }}">Register Account</a>
            </p>
        </div>
    </div>

{% endblock %}