{% extends "base.html" %}
{% block content %}
    <div class="col-lg-8 col-md-10 mx-auto">
        <div class="accordion" id="accordionExample">
            {% for recipe in recipes %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button fas fa-caret-down" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">      
                        <strong>{{ recipe.category_name }}</strong>
                        <a href="" class="btn btn-secondary btn-sm">Done</a>
                        <a href="" class="btn btn-secondary btn-sm">Edit</a>
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="card">
                                <div class="row">
                                    <img src="{{ recipe.image_source }}" class="card-img-top" alt="dessert" style="width: 18rem;">
                                    <div class="card-body" style="width: 18rem;">
                                        <h5 class="card-title">{{ recipe.recipe_name }}</h5>
                                        <strong><i class="fas fa-chart-pie"></i>{{ recipe.makes_for }}</strong> 
                                        <strong><i class="fas fa-clock"></i>{{ recipe.due_time }}</strong>
                                        <p>{{ recipe.recipe_ingredients }}</p>
                                        <p>{{ recipe.recipe_description }}</p>
                                        <p><em>by: {{ recipe.created_by }}</em></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}   