{% extends "base.html" %}
{% block content %}

    <h2 class="recipes">{{ page_title }}</h2>

    <p class="recipes">Below you can find all our recipes. Enjoy!</p>

    <div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<div class="card">
				<div class="card-body">
					<form action="{{ url_for('search') }}" method="POST">
						<div class="input-group mb-3">
							<input type="text" name="query" id="query" class="form-control" placeholder="" aria-label="query" aria-describedby="button-addon2" required>
							<label for="query"></label>
							<div class="search">
								<a href="{{ url_for('recipes') }}"></a>
								<button class="btn btn-outline-link" type="button" id="button-addon2"><i class="fas fa-search"></i>Search Recipes</button>
							</div>
						</div>	  
					</form>
				</div>
			</div>
		</div>
	</div>

    {% if recipes|length > 0 %}
    <hr class="featurette-divider">

        {% for recipe in recipes %}
            <div class="container col-sm-3">
    
                    <h3 class="post-title secondary"><a href="/recipes/{{ recipe.url }}">{{ recipe.name }}</a></h3>
                    <img src="{{ recipe.image_source }}" class="img-thumbnail" alt="dessert">
                
            </div>
            
    
        {% endfor %}
    {% else %}
        <h3>No Result Found!</h3>
    {% endif %}

{% endblock %}  