{% extends "base.html" %}
{% block content %}

    <h2>{{ page_title }}</h2>

    <p>Below you can find all our recipes. Enjoy!</p>
<!-- Search Bar -->
    <div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<div class="card">
				<div class="card-body">
					<form action="{{ url_for('search') }}" method="POST">
						<div class="input-group mb-3">
							<input type="text" name="query" class="textfield" id="query" placeholder="" aria-label="query" aria-describedby="query" required>
							<label for="query"></label>
							<div class="search">
								<a href="{{ url_for('recipes') }}"></a>
								<button class="btn btn-secondary btn-outline-link btn-sm" type="submit">
									<span><i class="fas fa-search"></i></span>
									Search Recipe
								</button>
								<a href="{{ url_for('recipes') }}" class="btn btn-secondary btn-sm">Reset</a>
							</div>
						</div>	  
					</form>
				</div>
			</div>
		</div>
	</div>
<!-- Recipe Card -->
    {% if recipes|length > 0 %}
		<hr class="featurette-divider">
		<div class="col-lg-8 col-md-10 mx-auto">
			{% for recipe in recipes %} 
				<div class="row g-0">
					<div class="col-md-4">
						<img src="{{ recipe.recipe_image }}" class="img-fluid rounded-start" alt="dessert">
					</div>
					<div class="col-md-8">
						<div class="card-body">
							<h5 class="card-title"><em>{{ recipe.category_name }}</em>: {{ recipe.recipe_name }}</h5>
							<h6 class="card-title"><i class="fas fa-chart-pie"></i>{{ recipe.recipe_makes_for }} portions <i class="fas fa-clock"></i>{{ recipe.due_time }} minutes</h6>
							<p class="card-text"><small class="text-muted">by: {{ recipe.created_by }}</small></p>
							{% if session.user|lower == recipe.created_by|lower %}
								<div class="container">
									<a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn btn-secondary btn-sm fixed">Delete</a>
									<a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-secondary btn-sm fixed">Edit</a>
								</div>
                			{% endif %}
							<div class="accordion accordion-flush" id="accordionFlush">
								<div class="accordion-item">
									<h2 class="accordion-header" id="flush-headingOne">
									<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse" aria-expanded="false" aria-controls="flush-collapse">
									Read More
									</button>
									</h2>
								</div>
								<div id="flush-collapse" class="accordion-collapse collapse" data-bs-parent="#accordionFlush">
									<div class="accordion-body"><p class="card-text">INGREDIENTS: {{ recipe.recipe_ingredients }}</p>
										<p class="card-text"><strong><em>Description: </em></strong>{{ recipe.recipe_description }}</p>
									</div>
								</div>
							</div>
						</div>	
					</div>
				</div>
				<hr>
			{% endfor %} 	
        </div>
    {% else %}
        <h3 class="warning">No Result Found!</h3>
    {% endif %}
	
{% endblock %}  