{% extends "base.html" %}
{% block content %}

    <h2 class="recipes">{{ page_title }}</h2>

    <p class="recipes">Below you can find all our recipes. Enjoy!</p>

    <div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<div class="card">
				<div class="card-body">
					<form action="{{ url_for('search') }}" method="POST">
						<div class="input-group mb-3">
							<input type="text" name="query" id="query" class="form-control" placeholder="" aria-label="query" aria-describedby="button-addon2" required>
							<label for="query"></label>
							<div class="search">
								<a href="{{ url_for('recipes') }}"></a>
								<button class="btn btn-outline-link" type="submit"><i class="fas fa-search"></i>Search Recipes</button>
							</div>
						</div>	  
					</form>
				</div>
			</div>
		</div>
	</div>

    {% if recipes|length > 0 %}
		<hr class="featurette-divider">
		<div class="col-lg-8 col-md-10 mx-auto">
			{% for recipe in recipes %}
				{% if session.user|lower == recipe.created_by|lower %}
					<a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn btn-secondary btn-sm">Delete</a>
					<a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-secondary btn-sm">Edit</a>
                {% endif %}
   				
					<div class="row g-0">
						<div class="col-md-4">
							<img src="{{ recipe.image_source }}" class="img-fluid rounded-start" alt="dessert">
						</div>
						<div class="col-md-8">
							<div class="card-body">
							  <h5 class="card-title"><em>{{ recipe.category_name }}</em>: {{ recipe.recipe_name }}</h5>
							  <h6 class="card-title"><i class="fas fa-chart-pie"></i>{{ recipe.recipe_makes_for }} <i class="fas fa-clock"></i>{{ recipe.due_time }}</h6>
							  <p class="card-text">INGREDIENTS: {{ recipe.recipe_ingredients }}</p>
							  <p class="card-text"><strong><em>Description</em></strong>: {{ recipe.recipe_description }}</p>
							  <p class="card-text"><small class="text-muted">by: {{ recipe.created_by }}</small></p>
							</div>
						</div>
					</div>
					<hr>
			
				
			{% endfor %}
          	
        </div>
    {% else %}
        <h3 class="warning">No Result Found!</h3>
    {% endif %}

{% endblock %}  